@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Complete Movie List";
    ViewData["HeaderTitle"] = "List of Movies";
}

@model IEnumerable<HW3_413.Models.MovieResponse>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Year</th>
                <th scope="col">Director</th>
                <th scope="col">Rating</th>
                <th scope="col">Edited</th>
                <th scope="col">Lent to</th>
                <th scope="col">Notes</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (HW3_413.Models.MovieResponse x in Model)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.Category</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>

                    <!-- if edited is false, show empty; otherwise display "Yes"-->
                    @if (x.Edited is false)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>Yes</td>
                    }
                    <td>@x.Lent</td>
                    <td>@x.Notes</td>
                    <td>
                        <form asp-action="EditMovie" method="get">
                            <input type="hidden" id="MovieID" name="MovieID" value="@x.MovieID" />
                            <input type="submit" style="width: 100%; margin-bottom: 2px;" class="btn-primary btn btn-sm" asp-controller="Home" asp-action="EditMovie" value="Edit" />
                        </form>
                        <form asp-action="DeleteMovie" method="post">
                            <input type="hidden" id="MovieID" name="MovieID" value="@x.MovieID" />
                            <input type="submit" style="width: 100%;" class="btn btn-danger btn-sm" asp-action="DeleteMovie" value="Delete"/>
                        </form> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

